{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} What did you think of {{ product['product_name'] }} ? {% endblock %}</h1>


<form method="post">
    <div class="form-group">
        <label for="product_name">Rating</label>
        <select name="rating" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
    </div>
    <div class="form-group">
        <label for="feedback">Provide Feedback</label>
        <textarea name="feedback" placeholder="product description"
                  class="form-control">{{ request.form['feedback']}}</textarea>
    </div>
     
    {% if user == 'Anonymous' %}
    <p><a href="{{ url_for('signin') }}">Sign in</a> to add a review.</p>
    
    {% else %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Review</button>
    </div>
    
    {% endif %}
</form>


<table>
    <thead>
        <th>Date</th>    
        <th>Rating</th>
        <th>Feedback</th>
        <th>User</th>

    </thead>

    {% for review in reviews %}
    <tr>
        <td>{{ review['date'] }}</td>
        <td>{{ review['rating'] }}</td>
        <td>{{ review['feedback'] }}</td>
        <td>{{ review['user_id'] }} </td> 

    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>

<hr>


{% endblock %}