{% extends 'base.html' %}

{% block content %}
<h1>{% block shop_title %} Shopping Cart {% endblock %}</h1>

{% if cart['products']|length == 0 %}
<p>Your shopping cart is empty! Return to the main page to select products.</p>
{% else %}
<table>
    <thead>
        <th>Product Name</th>    
        <th>Price</th>
        <th>Action</th>
    </thead>



{% for product in cart['products'] %}
{% for product in products %}
<tr>
    <td>{{ product['product_name'] }}</td>
    <td>{{ product['price'] }}</td>
    <td><form action="{{ url_for('shopping_cart', remove_id=product['id']) }}" method="post">
        <input type="submit" value="Remove product"
                class="btn btn-danger btn-sm"
                onclick="return confirm('Are you sure you want to remove this product?')">
    </form></td>


</tr>
{% endfor %}
{% endfor %}

    </tbody>
</table>
<form action="{{ url_for('shopping_cart', status='checkout') }}" method="post">
    <input type="submit" value="Checkout Cart"
            class="btn btn-checkout btn-lg"
            onclick="return confirm('Ready to checkout?')">
</form>

{% endif %}

<h1>{% block order_title %} Orders {% endblock %}</h1>

{% if orders|length == 0 %}
<p>You have no previous orders.</p>
{% else %}
<table>
    <thead>
        <th>Order Number</th>    
        <th>Number of deliveries in this transaction</th>
        <th>Status</th>
    </thead>

    {% for order in orders %}
<tr>
    <td>{{ order['id'] }}</td>
    <td>{{ order['deliveries'] }}</td>
    <td>{{ order['status'] }}</td>


</tr>
{% endfor %}
   
    </table>
{% endif %}

{% endblock %}